My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1168,
        48
      ],
      "id": "93dae49d-2ce5-4de2-99f9-3a41e20df33e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LGwXjc4QbKdk3DDTnYxTTnjU8dr-XBXZ9pbs_YH7Oqc",
          "mode": "list",
          "cachedResultName": "content idea",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LGwXjc4QbKdk3DDTnYxTTnjU8dr-XBXZ9pbs_YH7Oqc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LGwXjc4QbKdk3DDTnYxTTnjU8dr-XBXZ9pbs_YH7Oqc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1376,
        48
      ],
      "id": "de9d2178-7c94-4aa8-b6b0-d358ab5bd6b0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aY3CInZNCTaHcpvq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.TAVILY_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.title }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"include_answer\": false,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null,\n  \"include_usage\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1584,
        48
      ],
      "id": "11ebb675-b123-4721-a1df-4c2e0329a05d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=the idea title is :{{ $json.results[0].title }} the content is {{ $json.content }}",
        "options": {
          "systemMessage": "write posts for website blog in English the post lust be at least 1000 word and it should be engageable content you will receive fresh data talking about any topic that i want you to generate post about"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1936,
        48
      ],
      "id": "38077349-0d44-4616-ac68-834f1a25b28b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": "={{ true }}",
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1936,
        256
      ],
      "id": "17b088a5-2722-4bdd-a4e3-5e50ef857cea",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LJfdHcVzo2ZM0kzF",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "results[0].content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1776,
        48
      ],
      "id": "69c8af05-2ae0-4baf-a6e2-9a732d5821ad",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1LGwXjc4QbKdk3DDTnYxTTnjU8dr-XBXZ9pbs_YH7Oqc",
          "mode": "list",
          "cachedResultName": "content idea",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LGwXjc4QbKdk3DDTnYxTTnjU8dr-XBXZ9pbs_YH7Oqc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LGwXjc4QbKdk3DDTnYxTTnjU8dr-XBXZ9pbs_YH7Oqc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $('Get row(s) in sheet').first().json.title }}",
            "content": "={{ $json.output }}"
          },
          "matchingColumns": [
            "title"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2288,
        48
      ],
      "id": "ff07b304-0504-4bbc-88f0-7efeff59bc3d",
      "name": "Update row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aY3CInZNCTaHcpvq",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "be93184d-1078-4e32-aa3e-637bf9327a6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e7b3cd19f460bec01247062d725e5e79d131c24504e17e87b5d20ece1db78323"
  },
  "id": "HV5o93CFG3i49UZC",
  "tags": []
}